%h3.jumbotron Self-organizing your higher education through social networks.


%p Studygroup is the social network that helps you easily find other people working on the same books, classes, courses and interests.
%p Learn anything together. Unlimited course selection. Ultra-small "class sizes". Learn liberal arts. Or refocus your career. Shared experiences, connections and knowledge are free. College is not.
%p Tag yourself with interests and find other people locally who want to learn the same things. Make your own group or share where and what you're studying in real time. 