- if current_user.no_tags?
  %h4
    = link_to "To get started, just add interest tags so people with the same interests can find you", edit_user_path(current_user), class: "bg-warning"
- else
  %h5
    My tags:
    = raw current_user.tags.map(&:name).map { |t| link_to t, users_path(:tag => t), class: "bg-info" }.join(', ')