%h3 What's Studygroup?

%p Studygroup is the social network for learning.

%p Becoming liberally educated or developing a new skill is extremely valuable, but consuming a stream of diverse or unfocused classes at an American college or university can be a poor and often financially irresponsible way to do it.

%p Liberal education is actually better pursued outside of higher education settings, because it's mostly free to do so and you can take as many classes as you want.

%p Studygroup helps you do that.

%p Millions of educational resources are available online. You can access open courseware, MOOCs, tutorials, ebooks, videos, blogs and websites for free or minimal cost.

%p What's missing is the in-person environment with others learners where you communicate, work together and share ideas. Most people will agree the value of higher education isn't just in the material you learn in the classroom. It's in those experiences, forged connections, and network.

%p So make your own network!

%h3 How to get started?

%p Any topic or interest that is a good fit for a small college class, book club, reading group, project night, or similar setup at a coffeeshop or library could be a good place to use Studygroup.

%p Studygroup is designed to be simple and help you find other people to learn things with quickly.

%p If you are want to start learning "X", set up a short profile description about your learning objectives and tag yourself with interests.

%p You will be able see other people who have the same interests and coordinate to learn together.

%p Fortunately, the internet has an unlimited course catalog in mathematics, literature, business, computer programming, military history, foreign languages, creative writing, entrepreneurship, communication, bioinformatics, financial modeling, statistics, web development, political science, marketing, and your interests too!


%h3 Steps

%ol
  %li Set up a profile.
  %li Add tags with your interests.
  %li See other people and events by their tags.
  %li Connect with people who have the same interests.
  %li When you are studying and would like others to join, just publish an event for it.
  %li Get curriculum / study materials online

%h3 The users page

%h3 The events page

%p Studygroups are completely self-organizing and self-generated.

%p Your "class" will probably have a fantastic student to faculty ratio at first.

%p If you are working on learning something, publish an event with a short description and others can find and join you.

%p Eventually, you can set up micro-to-small groups of people mutually interested in the same topic, meeting up regularly to learn the material. AKA classes!

%h3 Creating an event

%h3 Attending events

%h3 Adding friends

%h3 Why did you make Studygroup?

%p I made Studygroup because I have a Sociology degree. Now I build websites.