%h3 Self-organizing your higher education through social networks.

%h5 Studygroup is the social network that helps you easily find other people working on the same books, classes, courses and interests. Learn anything together. Unlimited course selection. Ultra-small "class sizes". Learn liberal arts. Or refocus your career. Shared experiences, connections and knowledge are free. College is not.

%h2 Testimonials:
%h5 "I had a question on the book I was using. Since I'm not enrolled in university, I just tweeted the author of the textbook and she replied to answer my question!"
%h5 "I truly believe the value of a college degree is in the people you meet and the life long connections that you make. With Studygroup you aren't paying $40,000+ per year to get together in a room with other interested and likeminded people. Basically it removes the middleman of the college administration."
%h5 "I love learning but didn't want to take out any more student loans, so Studygroup was perfect for that."
%h5 "Originally I just wanted to find a few other people interested in Roman military history. We ended up designing our own curriculum, which we've published and made available for study groups around the country"
%h5 "What I love about study group is that I can buy the old editions of textbooks. College textbooks were such racket."
%h5 "I posted that I was interested in music production and met 3 other people in a matter of days studying the same tutorial."
%h5 "I wanted to learn Japanese, but classes were too expensive. 5 others and I formed a new group and it's really helped me advance quicker because we meet frequently"
%h5 "Online course materials plus frequent, small groups of motivated people are a winning combination."