%h1 Study Group
%h4 Share where and what you're working on. Create small study groups. Meet other people near you working on the same interests, topics, and courses
%p User, Events, City, Comments, Subscriptions, Attendance, Tags/Interests
%p Map visualization, Friendship/Requests

%p
 = current_user