%h1 Gruop
%h4 Create simple study groups and connect with people near you working on the same interests, topics, and courses
%p User, Events, City, Comments, Subscriptions, Attendance, Tags/Interests
%p Map visualization, Friendship/Requests