%h1 Study Group
%h4 Share where and what you're working on. Create small study groups. Meet other people near you working on the same interests, topics, and courses
%p Tags/Interests, Gravatars, Map visualization, Friendship/Requests, Date/Time/Interest/City Filtering for events