- if @pending_requests.nil?
  %h4
    No pending friend requests
    
- else
  %h4
    Pending friend requests
  - @pending_requests.each do |req|
    %h4 
      = gravatar_for(req.sender)
      = link_to req.sender.full_name, user_path(req.sender)
    %p
      = link_to "Accept", friendship_request_path(req, status: "accepted"), method: :patch
      = link_to "Delete", friendship_request_path(req, status: "declined"), method: :patch
