%h1
  = @user.full_name
%h5 Description:
%p
  = @user.description
%h5 Tagged Interests:
%h5 
  Location:
  = @user.city.name
%h5 Friends:
%h5 Contact Information:
%h5 Attending Events:
%ul
  - @user.attended_events.each do |event|
    %li
      = event.title
    