@import "bootstrap-sprockets";
@import "bootstrap";

/* Page Layout */

body {
  padding-bottom: 50px;
}

/* Fonts */

.notifications-flag {
  border-radius: 2px;
  background-color: #def0de;
  &:hover {
    background-color: #addbad;
  }
}

/* Buttons */

#event-attendance-btn-span {
  float: left;
}